<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolldice</title>
</head>
<body>

    <h1>Dice gave value: <%= dice %></h1>
    <%  if( dice == 6) { %>
        <p>You got a six! That's great.</p>
        <h2>roll again</h2>
        <% } %>

</body>
</html>